<html>
  <head>
    <title>The Gossip Project JJM</title>
  </head>
  <body>
    <h1>Mon super site de gossip !</h1>
    <h2>Best gossips from THP</h2>
    <p>Follow the link to create a new Gossip</p>
    <a href="/gossips/new/">New Gossip</a>
    <br />
    <% i = 0%>
    <% gossips.each do |gossip| %>
      <p>
        <%= gossip.author %><br/>
        <%= gossip.content %><br />
        <p>Comments : <%= gossip.comments %></p>
        <a href="/gossips/<%= i %>">New / Edit</a>
        <% i += 1 %>
      </p>
    <% end %>

  </body>   
</html>