<html>
  <head>
    <title>The Gossip Project JJM</title>
  </head>
  <body>
    <h1>Mon super site de gossip !</h1>
    <h2>Best gossips from THP</h2>
    <p>There is no gossip yet. Follow the link to create a new Gossip</p>
    <a href="/gossips/new/">New Gossip</a>
  </body>   
</html>